@inherits LayoutComponentBase
@inject UserState UserState
@inject NavigationManager Navigation
@implements IDisposable


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ThesisHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="profile-section">
        <img src="emptyimage.jpg" alt="User Image" class="profile-img">
        <br>
        <br>
         <h4 style="margin-top: 4px; color: black">@UserState.CurrentUser.FullName</h4> 
    </div>
   

<div class="@NavMenuCssClass nav-scrollable d-flex flex-column" @onclick="ToggleNavMenu">
    <nav class="nav flex-column ">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Explore Thesis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/weather">
                <span class="bi bi-heart-fill-nav-menu" aria-hidden="true"></span> Favorites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/weather">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Browse Thesis
            </NavLink>
        </div>

         <div class="nav-item px-3 ">
            <NavLink class="nav-link text-danger" href="/counter">
                <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Log out
            </NavLink>
        </div>
    </nav>
   
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }

}menu
       
