body {
    font-family: Arial, sans-serif;
    margin:0 ;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
   align-content: center; 
    vertical-align: middle;
    margin-top: 8px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background: #ffcc00;
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
}

.search-container {
    display: flex;
    gap: 10px;
    margin: 30px;

}

.search-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 15px;
    margin: 30px;
}

.filters label {
    font-weight: bold;
}

.filters select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.thesis-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.thesis-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thesis-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.thesis-card p {
    margin: 5px 0;
}

.thesis-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.thesis-card button:hover {
    background-color: #218838;
}