/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#004080;
    color:white;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
    align-content: center; 
    vertical-align: middle;
    margin-top: 8px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    background: #ffcc00;
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: url('https://source.unsplash.com/1600x900/?university,library') center/cover no-repeat;
    color: #f4f4f4;
}

.hero h1 {
    font-size: 36px;
    color: black;
}

.hero p {
    font-size: 18px;
    color: black;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.website-description {
    text-align: center;
    background: white;
    padding: 60px 20px;
}

.website-description h1 {
    color: #004080;
    font-size: 32px;
}

.website-description p {
    font-size: 18px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    color: #333;
}


/* Call to Action */
.cta-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #004080;
}

/* Footer */
footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}
