.btn{
    background-color: #002855 ;
    color: white;
}
.btn:hover{
    background-color:  #0056b3;
    color: white;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-top: 20px;
}
.profile-image{
    width: 150px;  
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: 1050; 
    justify-content: center;
    align-items: center;
    display: flex; 
}

.modal-dialog {
    max-width: 600px; 
    width: 90%;
    margin: 0; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.modal-content {
    background-color: white;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.modal-header, .modal-footer {
    padding: 15px;
}

.modal-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    text-align: right;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}
.showform{
  flex-shrink: 0; 
}
.d-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.bi-trash-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-trash-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; 
  width: 16px;
  height: 16px;
}

        .card-container {
            display: flex;
            flex-direction: row; 
            gap: 20px; 
            overflow-x: auto; 
            padding: 20px; 
        }

        .thesis-card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
           width: 100%;
            flex-shrink: 0; 
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #ddd;
            background-color: linear-gradient(to bottom right, #e0eafc, #cfdef3); 
            max-height: 80px;
        }

        .thesis-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
        }

        .thesis-type {
            background: linear-gradient(to bottom right, #e0eafc, #cfdef3); 
            color: #002855;
            padding: 5px 10px;
            border-radius: 30px;
            font-size: 0.8em;
        }
        .keyword{
            background-color: #0056b3;
            color: white;
            padding: 5px 10px;
            border-radius: 30px;
            font-size: 0.8em;
        }

        .card-body {
            padding: 25px;
        }

        .thesis-info {
            color: #555;
            font-size: 1em;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .thesis-info svg {
            fill: #aaa;
        width: 24px; 
         height: 24px; 
        }

        .card-footer {
            padding: 15px;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        .consult-button {
            background-color: #002855 ;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease;
          
        }
        .consultbutton{
            padding: 15px;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        .consult-button:hover {
            background-color: #0056b3;
        }
        .comment {
            margin-bottom: 2px;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    
