/* Search.razor.css */
.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-container {
    display: flex;
    gap: 10px;
    margin: 30px;

}

.search-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn{
    background-color: #002855 ;
    color: white;
}
.btn:hover{
    background-color:  #0056b3;
    color: white;
}

.bi-trash-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-trash-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; /* To allow setting width and height if needed */
  width: 16px;
  height: 16px;
}

        .card-container {
            display: flex;
            flex-direction: row; /* Arrange cards in a row */
            gap: 20px; /* Space between cards */
            overflow-x: auto; /* Enable horizontal scrolling if cards overflow */
            padding: 20px; /* Add some padding around the cards */
        }

        .thesis-card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
           width: 100%;
            flex-shrink: 0; /* Prevent cards from shrinking */
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid #ddd;
            background-color: linear-gradient(to bottom right, #e0eafc, #cfdef3); 
            max-height: 80px;
        }

        .thesis-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
        }

        .thesis-type {
            background: linear-gradient(to bottom right, #e0eafc, #cfdef3); 
            color: #002855;
            padding: 5px 10px;
            border-radius: 30px;
            font-size: 0.8em;
        }
        .keyword{
            background-color: #0056b3;
            color: white;
            padding: 5px 10px;
            border-radius: 30px;
            font-size: 0.8em;
        }

        .card-body {
            padding: 25px;
        }

        .thesis-info {
            color: #555;
            font-size: 1em;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .thesis-info svg {
            fill: #aaa;
        width: 24px; 
         height: 24px; 
        }

        .card-footer {
            padding: 15px;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        .consult-button {
            background-color: #002855 ;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease;
          
        }
        .consultbutton{
            padding: 15px;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        .consult-button:hover {
            background-color: #0056b3;
        }
        .comment {
            margin-bottom: 2px;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    
